* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(133, 133, 133);

}

.txt{
  color: aqua;
  background-color: rgb(11, 87, 8);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.cart{
  background-color: rgb(5, 77, 77);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
